<!-- Emparejamiento -->
<div class="form-group">
  <label ><p class="subtitle">Emparejamiento</p></label>
  <!-- Rounded switch -->

  <app-privacidad [(privacy)]="privacy"></app-privacidad>


  <label class="questionText" for="questionText">Texto de la Pregunta</label>
  <textarea id="questionText" [(ngModel)]="questionText" placeholder="Escribe la pregunta aquí"></textarea>
</div>

<div class="matching-group">
  <label for="matching">Opciones: </label>
  <div class="matching-container">
    <div *ngFor="let pair of pairs; let i = index" class="pair">
      <input type="text" [(ngModel)]="pairs[i].element1" placeholder="Elemento 1">
      <input type="text" [(ngModel)]="pairs[i].element2" placeholder="Emparejar con">
      <span class="remove-pair" *ngIf="i > 1" (click)="removePair(i)">✖</span> <!-- Mostrar la X a partir del segundo par -->
    </div>
  </div>
  <button type="button" class="add-pair" (click)="addPair()">Añadir Par</button>
</div>

<button type="button" class="add-question" (click)="addQuestion()">Añadir Pregunta</button>
<hr/>
