<div class="container">
    <div class="form-group">
        <label for="quizTitle">Título del Cuestionario</label>
        <input type="text" id="quizTitle" placeholder="Título del Cuestionario">
    </div>

    <div class="form-group">
        <label for="quizDescription">Descripción del Cuestionario</label>
        <textarea id="quizDescription" placeholder="Describe tu cuestionario en unas pocas frases" maxlength="120"></textarea>
        <div class="char-counter">120 caracteres restantes</div>
    </div>

    <div class="form-group">
        <label for="quizCategory">Elegir Categoría</label>
        <select id="quizCategory">
            <option>Negocios</option>
            <option>Informática y Tecnología</option>
            <option>Educación y Exámenes</option>
            <option>Idioma Extranjero</option>
            <option>Certificación IT</option>
            <option>Educación K-12</option>
            <option>Cuestionarios de Personalidad</option>
            <option>Trivia</option>
        </select>
    </div>
    <!--
    <div class="questions-section">
        <div class="form-group">
            <label for="questionTypes">Tipos de Pregunta</label>
                <div class="question-types">
                  <label class="option"><input type="checkbox"> Completar</label>
                    <label class="option"><input type="checkbox"> Opción Múltiple/Unica</label>
                    <label class="option"><input type="checkbox"> Emparejar</label>
                    <label class="option"><input type="checkbox"> Verdadero/Falso</label>
                    <label class="option"><input type="checkbox"> Ordenar Conceptos</label>
                </div>
        </div>
        <button type="button" class="add-question">Añadir Pregunta</button>
    </div>
    -->
    <hr/>
    <br/>


    <!-- Opción Múltiple/Unica -->
    <app-opcion-multiple (questionAdded)="addQuestion($event)"></app-opcion-multiple>
    <!-- Emparejamiento -->
    <app-emparejamiento (questionAdded)="addQuestion($event)"></app-emparejamiento>
    <!-- Ordenar Conceptos -->
    <app-ordenar-conceptos (questionAdded)="addQuestion($event)"></app-ordenar-conceptos>
    <!-- Opción Completar -->
    <div class="form-group">
      <label for="explanation">Completar</label>
      <label for="questionText">Texto de la Pregunta</label>
      <textarea id="questionText" placeholder="Escribe la pregunta aquí"></textarea>
      <label for="questionText">Texto de la Respuesta</label>
      <textarea id="explanation" placeholder="Escribe la respuesta correcta aquí"></textarea>
  </div>
  <hr/>
  <!-- Verdadero/Falso -->
  <div class="form-group true-false-group">
    <label>Verdadero/Falso</label>
    <textarea id="explanation" placeholder="Escribe la pregunta aquí"></textarea>
    <div>
        <label><input type="radio" name="trueFalse" value="true"> Verdadero</label>
        <label><input type="radio" name="trueFalse" value="false"> Falso</label>
    </div>
</div>
<hr/>

    <div class="endForm">
      <label for="save">Preguntas Creadas</label>
      <select>
          <option >En orden</option>
          <option >Aleatorio</option>
          <!-- Otras opciones -->
      </select>
      <label for="save">Horario: </label>
    </div>
    <div class="actions">
        <button type="button" class="save">Guardar Examen</button>
        <label> <!-- Mostrar las preguntas agregadas -->
          <div *ngFor="let question of questions">
            <div>{{ question.texto }}</div>
            <!-- Mostrar opciones, respuestas correctas, etc. -->
          </div>
        </label>

        <span class="erase">✖</span>


    </div>

</div>
