<div class="container">
    <div class="form-group">
        <label for="quizTitle">Título del Cuestionario</label>
        <input type="text" id="quizTitle" placeholder="Título del Cuestionario">
    </div>

    <div class="form-group">
        <label for="quizDescription">Descripción del Cuestionario</label>
        <textarea id="quizDescription" placeholder="Describe tu cuestionario en unas pocas frases" maxlength="120"></textarea>
        <div class="char-counter">120 caracteres restantes</div>
    </div>

    <div class="form-group">
        <label for="quizCategory">Elegir Categoría</label>
        <select id="quizCategory">
            <option>Negocios</option>
            <option>Informática y Tecnología</option>
            <option>Educación y Exámenes</option>
            <option>Idioma Extranjero</option>
            <option>Certificación IT</option>
            <option>Educación K-12</option>
            <option>Cuestionarios de Personalidad</option>
            <option>Trivia</option>
        </select>
    </div>
    <hr/>
    <br/>


    <!-- Opción Múltiple/Unica -->
    <app-opcion-multiple (questionAdded)="addQuestion($event)"></app-opcion-multiple>
    <!-- Emparejamiento -->
    <app-emparejamiento (questionAdded)="addQuestion($event)"></app-emparejamiento>
    <!-- Ordenar Conceptos -->
    <app-ordenar-conceptos (questionAdded)="addQuestion($event)"></app-ordenar-conceptos>
    <!-- Agregar Componente Completar -->
    <app-completar (questionAdded)="addQuestion($event)"></app-completar>
    <!-- Agregar Componente Verdadero/Falso -->
    <app-verdadero-falso (questionAdded)="addQuestion($event)"></app-verdadero-falso>


    <div class="endForm">
      <label for="save">Preguntas Creadas</label>
      <select>
          <option>En orden</option>
          <option>Aleatorio</option>
          <!-- Otras opciones -->
      </select>
      <label for="save">Horario: </label>
    </div>
     <!-- Mostrar las preguntas agregadas -->
  <div class="actions">
    <button type="button" class="save" (click)="guardarExamen()">Guardar Examen</button>
    <div *ngFor="let question of questions">
      <div>{{ question.texto }}</div>
      <!-- Botón para eliminar la pregunta -->
      <button type="button" class="erase" (click)="eliminarPregunta((''+question.id_pregunta))">✖</button>
    </div>
  </div>
</div>
