<!-- Ordenar Conceptos -->
<div class="form-group">
  <label ><p class="subtitle">Ordenar Conceptos</p></label>
  <!-- Rounded switch -->
  <label class="switch">
    <p class="privacy-text">Pregunta {{privacy ? "Privada" : "Pública"}}</p>
    <input type="checkbox" [(ngModel)]="privacy">
    <span class="slider round"></span>
  </label>
  <label for="sorting">Ordenar Conceptos</label>
  <div class="sorting-container">
    <div *ngFor="let concept of concepts; let i = index" class="sort-item">
      <span class="concept-label">Concepto {{ i + 1 }}</span>
      <input type="text" [(ngModel)]="concepts[i]" class="sort-order" placeholder="texto aqui">
      <span class="remove-concept" *ngIf="i > 1" (click)="removeConcept(i)">✖</span> <!-- Añade la opción de eliminar conceptos -->
    </div>
  </div>
  <button type="button" class="add-sort-item" (click)="addConcept()">Añadir Concepto</button>
</div>
<button type="button" class="add-question" (click)="addQuestion()">Añadir Pregunta</button>
<hr/>
